/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* BODY */
body {
  margin: 0 auto;
  width: 88%;
  overflow: auto;
  background-color: yellow;
}

main {
  height: 400px;
  width: 70%;
  float: left;
  padding-left: 5vw;
  border: 5px solid red;
}
main > h1 {
  font: bold 55px "Arvo" serif;
  padding-top: 25vh;
}
main > h2 {
  font: bold 35px "Josefin Sans" sans-serif;
  color: #444;
  padding-top: 16px;
}

nav {
  width: 150px;
  height: 400px;
  float: right;
  border: 5px solid red;
}
nav > ul {
  padding-top: 14vh;
}
nav > ul > li > a {
  font: 16px/35px "Avenir" sans-serif;
  color: black;
  text-decoration: none;
}

footer {
  clear: both;
  padding: 5vw;
  border: 5px solid red;
  font: 16px/30px "Avenir" black;
}

/* BREAK POINTS */
/* ABOUT ME PAGE */
body.about {
  background-image: url "../img/about_me.png";
}
body.about > main {
  width: 64%;
  padding-left: 10vw;
}
body.about > main > h2 {
  font-size: 22px;
  padding-top: 18vh;
}
body.about > main > h1 {
  font-size: 26px;
  padding-top: 35px;
}
body.about > main > p {
  font: 16px/30px "Avenir" black;
  padding-top: 25px;
}
