@import '_base.scss';
@import '_mixins.scss';
/* BODY */

body {
   margin: 0 auto;
   width: 88%;
   overflow: auto;
   background-color: yellow;
}

main {
   height: 400px;
   width: 70%;
   float: left;
   padding-left: 5vw;
   border: 5px solid red;
   > h1{
      font: bold 55px "Arvo" serif;
      padding-top: 25vh;

   }
   >h2 {
      font: bold 35px "Josefin Sans" sans-serif;
      color: #444;
      padding-top: 16px
   }
}

nav {
   width: 150px;
   height: 400px;
   float: right;
   border: 5px solid red;
   > ul {
      padding-top: 14vh;
      > li >a {
         font: 16px/35px "Avenir" sans-serif;
         color: black;
         text-decoration: none;
      }
   }
}

footer {
   clear: both;
   padding: 5vw;
   border: 5px solid red;
   font: 16px/30px "Avenir" black
}

/* BREAK POINTS */
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 800px) {
}

/* ABOUT ME PAGE */

main.about {
   width: 64%;
   padding-left: 10vw;
   >h2 {
      font-size:22px;
      padding-top: 18vh;
   }
   >h1 {
      font-size:26px;
      padding-top: 35px;
   }
   >p {
      font: 16px/30px "Avenir" black;
      padding-top: 25px;
   }
}
