@import '_base.scss';
@import '_mixins.scss';
/* BODY */

body {
   margin: 0 auto;
   width: 88%;
   overflow: auto;
   background-color: yellow;
}

main {
   width: 70%;
   float: left;
   padding-left: 5vw;
   border: 5px solid red;
   > h1{
      font: bold 55px "Arvo" serif;
      padding-top: 25vh;

   }
   >h2 {
      font: bold 35px "Josefin Sans" sans-serif;
      color: #444;
      padding-top: 16px
   }
}

nav {
   width: 150px;
   float: right;
   border: 5px solid red;
   > ul {
      padding-top: 14vh;
      > li >a {
         font: 16px/35px "Avenir" sans-serif;
         color: black;
         text-decoration: none;
      }
   }
}

footer {
   clear: both;
   padding: 5vw;
   border: 5px solid red;
   font: 16px/30px "Avenir" black
}

/* BREAK POINTS */
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 800px) {
}

/* ABOUT ME PAGE */

body.about,.print{
   background-image: url ('../img/about_me.png');
   >main{
      width: 64%;
      >h2 {
         font-size:22px;
         padding-top: 18vh;
      }
      >h1 {
         font-size:26px;
         padding-top: 35px;
      }
      >p {
         font: 16px/30px "Avenir" black;
         padding-top: 25px;
         padding-bottom: 50px;
      }
   }
}

/* ARTWORK PAGE */

section {
   float:left;
   border-top: 4px solid black;
}

.thumbnail {
   width: 275px;
   height: 275px;
   background-color: #ccc;
   margin-left: 10px;
   margin-right: 10px;
   margin-top: 50px;
   border: 1px solid red;
   float: left;
   img {
      height: inherit;
   }
}


